.crowd-funding__header {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  color: #003479;
  text-align: center;
  margin-bottom: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.crowd-funding__header__description {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.button-container {
  height: 100vh;
  /* Full viewport height */
  display: flex;
  /* Enable flexbox */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  margin: -250px -200px -210px;
  /* Reset margin for full centering */
}

.button {
  background: #f26e21;
  /* Button background color */
  border-radius: 5px;
  /* Rounded corners */
  padding: 0.8rem 2rem;
  /* Adjust padding for balanced layout */
  font-size: 1.5rem;
  /* Font size for readability */
  border: none;
  /* Remove border */
  color: whitesmoke;
  /* Text color */
  transition: all 0.3s ease-in-out;
  /* Smooth hover transition */
  cursor: pointer;
  /* Pointer cursor on hover */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
  /* Prevent text wrapping */
  text-align: center;
  /* Center text inside */
  display: inline-block;
  /* Ensure proper sizing */
}

.button:hover {
  background-color: #00507d;
  color: beige;
}