.landing-page-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.ibb.co/T4SwLHY/h-16.png);
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

.landing-page h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.landing-page p {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}

.landing-options {
    display: flex;
    gap: 20px;
}

.landing-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #057f94;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.landing-button:hover {
    background-color: #c24528;
}


.see-all-athletes-button {
  background-color: #0288d1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

.see-all-athletes-button:hover {
  background-color: #02669d;
}
